<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 使用ehcache缓存 -->
	<bean id="mybatisCacheDefaultFactory"
		  class="io.github.hengyunabc.mybatis.MybatisMetricsEhcacheFactory">
		<property name="cacheManager" ref="ehCacheManager"></property>
		<property name="sharedMetricRegistryName" value="${metrics.registryName}"></property>
	</bean>
	<!-- This bean is important -->
	<bean class="io.github.hengyunabc.mybatis.SharedSpringContextSetter">
	</bean>

	<!-- define the SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!--实体类包路径-->
		<property name="typeAliasesPackage" value="com.horsv.xdiamond.domain" />
		<!--实体类顶级包路径-->
		<!--<property name="typeAliasesSuperType" value="实体类顶级包路径" />-->
		<!--指定xml路径-->
		<property name="mapperLocations" value="classpath:/com/horsv/xdiamond/persistence/*.xml" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.horsv.xdiamond.persistence" />
	</bean>

</beans>
